body
{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-frame
{
    width: 250px;
    height: 350px;
    background-color: rgb(38, 197, 197);
    text-align: center;
}
.avatar
{
    width: 100px;
    height: 100px;
    background-color: brown;
}
.statistics
{
    width: 100px;
    height: 100%;
    background-color: cornflowerblue;
}