body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 100vw;
    height: 100vh;

    background-color:rgb(185, 185, 185);

    display: flex;
    justify-content: center;
    align-items: center;
}
.tile
{
    width: 400px;
    height: 400px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.button-main
{
    padding: 10px;
    width: 85%;
    background-color: rgb(207, 219, 243);
}